<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Student Leave Portal</title>
    <link rel="stylesheet" href="statics/css/login_css.css"></style>
</head>
<body>
    <div class="container">
        <h2>Student Leave Portal</h2>
        <div class="tabs">
            <button onclick="switchTab('studentS')" class="active">Student</button>
            <button onclick="switchTab('staff')">Staff</button>
            <button onclick="switchTab('admin')">Admin</button>
        </div>
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" placeholder="username">
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" placeholder="password">
        </div>
        <a href="#" class="forgot-password">Forgot Password?</a>
        <button class="login-btn" onclick="login()">Log In</button>
    </div>

    <script src="\statics\js\login_js.js"></script>
</body>
</html>