<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Leave Application Portal</title>
    <link rel="stylesheet" href="statics/css/admin_css1.css"></style></head>
</head>
<body>
    <header class="header">
        <h1>Staff Approval Portal</h1>
    </header>

    <nav class="sidebar">
        <div class="user-profile">
            <div class="profile-pic">👤</div>
            <span>ADMIN</span>
        </div>
        <ul class="menu-list">
            <li><a href="admin_leave.html" ><span class="menu-icon">✍️</span>Leave Applicates</a></li>
            <li><a href="Manage_student.html"><span class="menu-icon">📊</span> Manage students</a></li>
            <li><a href="login_student.html"><span class="menu-icon"> 🚪</span> Logout</a></li>

        </ul>
    </nav>

    <div class="main-content">
        <div class="box-container">
            
            <a href="admin_leave.html" class="box results">
                <h2>Leave Applicates</h2>
                <p>Students Who get the Accepts from their respective Advisor</p>
            </a>

            <a href="Manage_student.html" class="box leave">
                <h2>Manage students</h2>
                <p>Manage the students details and add students</p>
            </a>
        </div>
    </div>
</body>
</html>