<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Leave Application Portal</title>
    <link rel="stylesheet" href="statics/css/admin_css3.css"></style></head>
<body>
    <header class="header">
        <h1>Manage Student Details</h1>
    </header>

    <nav class="sidebar">
        <div class="user-profile">
            <div class="profile-pic">👤</div>
            <span>ADMIN</span>
        </div>
        <ul class="menu-list">
            <li><a href="admin_dash.html" >
                <span class="menu-icon">🏠</span> Dashboard
            </a></li>
            <li><a href="admin_leave.html" >
                <span class="menu-icon">✍️</span> Leave Applicates
            </a></li>
            <li><a href="login_student.html">
                <span class="menu-icon">🚪 </span> Logout
            </a></li>

        </ul>
    </nav>

    <main class="content">
        <div class="status-box">
            <a href="approved.html" class="status-title">Manage Student</a>
        </div>
        <div class="status-box">
            <a href="admin_new_students.html" class="status-title">Add student</a>
        </div>
    </main>

    <button class="add-new">+</button>
</body>
</html>