<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Leave Application Portal</title>
    <link rel="stylesheet" href="statics/css/staff_css1.css"></style>
</head>
<body>
    <header class="header">
        <h1>Staff Approval Portal</h1>
    </header>

    <nav class="sidebar">
        <div class="user-profile">
            <div class="profile-pic">👤</div>
            <span>STAFF</span>
        </div>
        <ul class="menu-list">
            <li><a href="staff_leave_request.html" ><span class="menu-icon">✍️</span>Leave Applicates</a></li>
            <li><a href="staff_manage.html"><span class="menu-icon">📊</span> Manage students</a></li>
            <li><a href="login_student.html"><span class="menu-icon">🚪 </span> Logout</a></li>

        </ul>
    </nav>

    <div class="main-content">
        <div class="box-container">
            
            <a href="staff_leave_request.html" class="box result">
                <h2>Leave Applicates</h2>
                <p>Leave and other permission application from your allocated students.</p>
            </a>

            <a href="staff_manage.html" class="box leave">
                <h2>Manage student</h2>
                <p>Manage the students details and add students.</p>
            </a>
        </div>
    </div>
</body>
</html>