<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Leave Application Portal</title>
    <link rel="stylesheet" href="statics/css/student_css.css"></style>


</head>
<body>
    <header class="header">
        <h1>Student Leave Application Portal</h1>
    </header>

    <nav class="sidebar">
        <div class="user-profile">
            <div class="profile-pic">👤</div>
            <span>Username</span>
        </div>
        <ul class="menu-list">
            <li><a href="student_leave.html" ><span class="menu-icon">✍️</span> Leave Application</a></li>
            <li><a href="student_result.html"><span class="menu-icon">📊</span>Check Result</a></li>
            <li><a href="login_student.html"><span class="menu-icon">🚪 </span> Logout</a></li>
        </ul>
    </nav>

    <div class="main-content">
        <div class="box-container">
            <a href="student_result.html" class="box results">
                <h2>Academic Results</h2>
                <p>View your current semester results and academic performance tracking.</p>
            </a>

            <a href="student_leave.html" class="box leave">
                <h2>Leave Application</h2>
                <p>Submit and track your leave applications. View status and history of previous applications.</p>
            </a>

        </div>
    </div>
</body>
</html>